h1 {
  text-align: center;
  background-color: tomato;
  color: white;
}
#headliner,
#dvOdd,
#footerId {
  text-align: center;
}
.bcIcan {
  background-color: yellow;
}

#lunchtime{
    background-color: rgb(204, 226, 247);
}

#btnTest{
    background-color: rgb(252, 198, 198);
}
